<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cahya Isra</title>
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
				<link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
      <div class="text-center mt-4">
      <h1 class="display-1">I Killed This Site</h1>
      <h4>You Should Go Here</h4>
      <h2 class="display-4"><a href="https://redearth.herokuapp.com">Red Earth Project</a></h2>
      <a href="https://github.com/chsz77/red-earth"><strong>The Codes</strong></a>
      </div>
    </body>
</html>