.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px
}

#delete-form {
  display: inline
}

#campgroundIndex {
  min-height: 50vh;
}

.showcase .card{
  max-width: 250px
}
.showcase img {
  background-size:cover;
  height: 170px
}

